<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--a mat-button routerLink="/settings">Settings</a-->
    <a mat-button routerLink="/dashboard">Dashboard</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
