<div id="main">
  <div id="action-bar">
    <mat-form-field class="item">
      <mat-select placeholder="Availability zone"
                  [value]="selectedAvailZone$.getValue()"
                  (selectionChange)="selectedAvailZone$.next($event.value)"
                  >
        <mat-option *ngFor="let azone of (availZones$ | async)" [value]="azone.ZoneName">
          {{ azone.ZoneName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="item">
      <mat-select placeholder="Instance type"
                  [value]="selectedInstanceType$.getValue()"
                  (selectionChange)="selectedInstanceType$.next($event.value)"
        >
        <mat-option *ngFor="let instanceType of (instanceTypes$ | async)" [value]="instanceType.id">
          {{ instanceType.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="item">
      <mat-select placeholder="Operating system"
                  [value]="selectedProductDescription$.getValue()"
                  (selectionChange)="selectedProductDescription$.next($event.value)"
                  >
        <mat-option *ngFor="let productDesc of (productDescriptions$ | async)" [value]="productDesc.id">
          {{ productDesc.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div id="data-bar">
    <mat-form-field class="item">
      <input matInput placeholder="Minimum price" [value]="minPrice$ | async" readonly="true">
    </mat-form-field>

    <mat-form-field class="item">
      <input matInput placeholder="Maximum price" [value]="maxPrice$ | async" readonly="true">
    </mat-form-field>

    <mat-form-field class="item">
      <input matInput placeholder="Average price" [value]="avgPrice$ | async" readonly="true">
    </mat-form-field>

    <mat-form-field class="item">
      <input matInput placeholder="On demand price" [value]="onDemandPrice$ | async" readonly="true">
    </mat-form-field>

    <div id="price-below-demand-chip"
         class="item"
         [ngClass]="{
           'price-below': (isPriceBelowDemand$ | async),
           'price-above': !(isPriceBelowDemand$ | async)
         }">
      <span *ngIf="isPriceBelowDemand$ | async">Price below demand</span>
      <span *ngIf="! (isPriceBelowDemand$ | async)">Price above demand</span>
    </div>
  </div>

  <div id="graph-part">
    <ngx-charts-line-chart
      [results]="graphData$ | async"
      [showGridLines]="true"
      [autoScale]="true"
      [xAxis]='true'
      [yAxis]='true'
      [xAxisLabel]="'Days'"
      [yAxisLabel]="'Price'"
      >
    </ngx-charts-line-chart>
  </div>
</div>
