#main {
  padding: 20px;

  #action-bar {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -10px;

    >.item {
      margin: 0 10px;
    }
  }

  #data-bar {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -10px;

    >.item {
      margin: 0 10px;
    }
  }

  #price-below-demand-chip {
    border-radius: 3px;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    align-self: center;

    &.price-below {
      background-color: green;
    }

    &.price-above {
      background-color: red;
    }
  }
}
